* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFDD0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0 20px;
    height: 72px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 72px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 72px;
    width: auto;
    object-fit: contain;
    display: block;
}


/* Menu */
.navbar-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.navbar-menu a {
    text-decoration: none;
    font-size: 1.1rem;
}

/* Right icons */
.right-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* Search */
.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.search-container input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 2px 5px;
    font-size: 0.9rem;
    background: transparent;
    width: 140px;
}

