html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.head {
    width: 100%;
    min-height: 100px;
    background: #fff;
}

.body {
    flex: 1;
    width: 100%;
    min-height: 100px;
    background: #f0f0f0;
}

.foot {
    min-height: 50px;
    width: 100%;
    background: #FFFDD0;
}
